<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd  
           http://www.springframework.org/schema/tx 
  		   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
  		   
  	<bean id="DepartmentSearchAction" class="cims107.action.DepartmentSearchAction" scope="prototype">  
        <property name="departmentService" ref="departmentService" />      
    </bean>  
    
    <bean id="departmentDao" class="cims107.dao.DepartmentDao">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
      
    <bean id="departmentService" class="cims107.service.DepartmentService">  
        <property name="departmentDao" ref="departmentDao"></property>  
    </bean>  
</beans>