<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd  
           http://www.springframework.org/schema/tx 
  		   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
  		   
  	<bean id="PartitionSearchAction" class="cims107.action.PartitionSearchAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />      
    </bean>  
    
    <bean id="PartitionSearchAllAction" class="cims107.action.PartitionSearchAllAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />      
    </bean>  
    
    
    <bean id="PartitionCreateAction" class="cims107.action.PartitionCreateAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />  
         <property name="buildingService" ref="buildingService" />
         <property name="classroomService" ref="classroomService" />
    </bean> 
    
    <bean id="PartitionDeleteAction" class="cims107.action.PartitionDeleteAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />  
    </bean> 
    
    <bean id="PartitionUpdateAction" class="cims107.action.PartitionUpdateAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" /> 
    </bean> 
    
    <bean id="PartitionEnableAction" class="cims107.action.PartitionEnableAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />
    </bean> 
    
    <bean id="PartitionDisableAction" class="cims107.action.PartitionDisableAction" scope="prototype">  
        <property name="partitionService" ref="partitionService" />  
    </bean> 
      
    <bean id="partitionDao" class="cims107.dao.PartitionDao">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
      
    <bean id="partitionService" class="cims107.service.PartitionService">  
        <property name="partitionDao" ref="partitionDao"></property>  
    </bean>  
</beans>